.flashcard {
  width: 400px;
  height: 250px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.329);
  transition: transform 0.5s;
}

.flashcard-front {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  text-align: center;
}

.flashcard-back {
  width: 100%;
  height: 100%;
}

.notebook-lines {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:
    linear-gradient(to bottom, red 3px, transparent 0) no-repeat,
    repeating-linear-gradient(to bottom,
      white,
      white 24px,
      rgba(112, 185, 233, 0.541) 25px);
  background-size: 100% 2px, 100% 25px;
  background-position: 0 24px, 0 0;
}