/* Reset CSS*/

/* Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizeLegibility;

  background-color: var(--bg-color);
}

/* 2. Typography Defaults */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

h1 {
  color: var(--shade-primary);
}

p {
  margin-bottom: 1rem;
  color: inherit;
}

.secondary-text {
  color: var(--shade-secondary);
}

/* Utility CSS */

.centered {
  display: flex;
  align-items: center;  
  justify-content: center;
  min-height: 100vh;  
  text-align: center;  
}

/* Button Styles */
.btn {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.primary-btn {
  background-color: var(--pop);
  color: #fff;
}

.primary-btn:hover {
  background-color: #ff7424;
}

.action-btn {
  background-color: var(--secondary);
}

.card-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-container);
    color: black;
    border: none;

    /* center icon */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn:hover {
    background-color: var(--shade-secondary);
}

/* Flashcard star button */
.star-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}

#starred-btn {
    background-color: transparent;
    border: 2px solid var(--secondary-container);
}

#starred-btn:hover {
  background-color: var(--shade-secondary);
  color: black;
  border: 2px solid var(--shade-secondary);
}