/* Root color palette */
:root {
  --bg-color:  #FFF5E3;
  --primary: #F2B5D4;
  --secondary: #ACCAFF;
  --secondary-container: #E8DEF8;
  --pop: #FF9F68;
  --shade-primary: #DB88B2;
  --shade-secondary: #8BAFF0;
  --pen-black: #000000;
  --pen-blue: #002B59;
}